{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/3346373891/d945048a54c0ba2e6071b49040b33003_bigger.jpeg"><br>
      <b>Michael + Yustynn</b><br>
      10^5 followers
    </div>
    <div class="col-md-9">

      <!-- display tweets here -->
      {% for tweet in tweets %}
        <li><a href="/users/{{tweet.name}}">{{tweet.name}}</a></li>
        <li>{{tweet.text}}</li>

      {% endfor %}

    </div>
  </div>

{% endblock %}
